<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="events" patch:before="site[@name='website']"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/events"
            startItem="/home"
            contentStartItem="/sitecore/Content/events/Home"
            hostName="events.tac.local"
            database="master"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="0MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            dictionaryDomain="{3D7F3792-3237-4C0E-9FD9-CC2B8A5FF6E3}" />
      <site name="shell">
        <patch:attribute name="contentStartItem">/</patch:attribute>
      </site>
    </sites>
    <settings>
      <setting name="Preview.ResolveSite">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>